.counties {
  stroke: #fff;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.states {
  fill: none;
  stroke: #000;
  stroke-width: 1.0px;
}

.maptitle {
 	font-family: Arial;
	font-size: 1.7em;
	--text-shadow: 3px 3px 7px #111;
}


.maplegendtitle {
 	font-family: Arial;
	font-size: 1.5em;
	--text-shadow: 3px 3px 7px #111;
}

.currentstate {
 	font-family: Arial;
	font-size: 1.2em;
	--text-shadow: 3px 3px 7px #111;
}
.currentstaterate {
 	font-family: Arial;
	font-size: 1.0em;
	--text-shadow: 3px 3px 7px #111;
}

.usrate {
 	font-family: Arial;
	font-size: 1.0em;
	fill: #000;
	
	--text-shadow: 3px 3px 7px #111;
}

.barlabel {
 	font-family: Arial;
	font-size: 0.6em;
	fill: #bbb;
	text-anchor: end;
	dominant-baseline: central;
	
	--text-shadow: 3px 3px 7px #111;
}


.barvalue {
 	font-family: Arial;
	font-size: 0.5em;
	fill: #ccc;
	text-anchor: start;
	dominant-baseline: central;
	--text-shadow: 3px 3px 7px #111;
}

.bartitle {
 	font-family: Arial;
 	font-weight:bold;
	font-size: 1em;
	text-anchor: start;
	fill: #000;
}

.indexbar circle {
   stroke: white;
   fill: steelblue;
}


.legendbar rect{
   	stroke: #000;
   	stroke-width: 1px;
  
}

.frame{
   	stroke: #000;
  fill: none;
  stroke-width: .1px;
}

.legend  {

   font-family: Arial;
 	font-size: 0.7em;
	text-anchor: end;

 }
   
.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}

.x.axis {
  font-family: Arial;
	font-size: 0.6em;
	fill:#bbb;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}




.q0-9{fill:#608321}
.q1-9{fill:#6C9325}
.q2-9{fill:#7AA629}
.q3-9{fill:#84B42D}
.q4-9{fill:#90C431}
.q5-9{fill:#9BCE3B}
.q6-9{fill:#A3D24B}
.q7-9{fill:#ABD65C}
.q8-9{fill:#B4DA6C}

.p0-9{fill:#E28D8D}
.p1-9{fill:#DE7D7D}
.p2-9{fill:#D96D6D}
.p3-9{fill:#D55D5D}
.p4-9{fill:#D14D4D}
.p5-9{fill:#CD3C3C}
.p6-9{fill:#C33232}
.p7-9{fill:#B22E2E}
.p8-9{fill:#A52A2A}