.counties {
  stroke: #fff;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.states {
  fill: none;
  stroke: #000;
  stroke-width: 1.0px;
}

.maptitle {
 	font-family: Arial;
	font-size: 1.7em;
	font-weight:bold;
	--text-shadow: 3px 3px 7px #111;
}


.maplegendtitle {
 	font-family: Arial;
font-weight:bold;
	font-size: 1.5em;
	--text-shadow: 3px 3px 7px #111;
}

.currentstatename {
 	font-family: Arial;
	font-size: 1.3em;
	font-weight:bold;
	text-anchor: middle;
	--text-shadow: 3px 3px 7px #111;
}

rect.currentstate{
 	fill:#fff;
 	fill-opacity: .4;
 	stroke:#444;
 	stroke-width: 2px;
 	display:none;
}

.currentstaterate {
 	font-family: Arial;
	font-size: 1.5em;
	text-anchor: middle;
	--text-shadow: 3px 3px 7px #111;
}

.currentstatedelta{
 	font-family: Arial;
	font-size: 1.5em;
	fill: gray;
	text-anchor: middle;
	--text-shadow: 3px 3px 7px #111;
}

.currentstatedeltainfo{
 	font-family: Arial;
	font-size: 0.8em;
	fill: gray;
	text-anchor: middle;
	--text-shadow: 3px 3px 7px #111;
}

.usrate {
 	font-family: Arial;
	font-size: 1.0em;
	fill: #000;
	
	--text-shadow: 3px 3px 7px #111;
}

.barlabel {
 	font-family: Arial;
	font-size: 0.6em;
	fill: #aaa;
	text-anchor: start;
	dominant-baseline: central;
	
	--text-shadow: 3px 3px 7px #111;
}


.barvalue {
 	font-family: Arial;
	font-size: 0.6em;
	fill: #aaa;
	text-anchor: start;
	dominant-baseline: central;
	--text-shadow: 3px 3px 7px #111;
}

.bartitle {
 	font-family: Arial;
 	font-weight:bold;
	font-size: 1em;
	text-anchor: start;
	fill: #000;
}

.indexbar circle {
   stroke: white;
   fill: steelblue;

}

.indexbar rect{
	fill: steelblue;
	fill-opacity: .1;

}


.legendbar rect{
   	stroke: #000;
   	stroke-width: 1px;
   	display:none;
   	fill: #ccc;
  
}

.frame{
   	stroke: #000;
  fill: none;
  stroke-width: .1px;
}

.legend  {

   font-family: Arial;
 	font-size: 0.7em;
	text-anchor: end;

 }
   
.legenddc  {

   font-family: Arial;
 	font-size: 0.8em;
	text-anchor: start;

 }

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}

.x.axis {
  font-family: Arial;
	font-size: 0.6em;
	fill:#bbb;
}
.y.axis {
  font-family: Arial;
	font-size: 0.6em;
	fill:#bbb;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line2 {
  fill: none;
  stroke: #aaa;
  stroke-width: 1.2px;
}

.area.above {
  fill: #D96D6D;
}

.area.below {
  fill: rgb(145,207,96);
}


.population.legend{
	fill: none;
	fill-opacity: .1;
	stroke-width:1px;
	stroke: #111;
	 font-family: Arial;
 	font-size: 0.5em;
	text-anchor: middle;

}


.population.legendtext{

	 font-family: Arial;
 	font-size: 0.6em;
	text-anchor: middle;

}

.population.legendtext2{

	 font-family: Arial;
 	font-size: 0.8em;
	text-anchor: middle;

}



.q0-9{fill:#608321}
.q1-9{fill:#6C9325}
.q2-9{fill:#7AA629}
.q3-9{fill:#84B42D}
.q4-9{fill:#90C431}
.q5-9{fill:#9BCE3B}
.q6-9{fill:#A3D24B}
.q7-9{fill:#ABD65C}
.q8-9{fill:#B4DA6C}

.p0-9{fill:#E28D8D}
.p1-9{fill:#DE7D7D}
.p2-9{fill:#D96D6D}
.p3-9{fill:#D55D5D}
.p4-9{fill:#D14D4D}
.p5-9{fill:#CD3C3C}
.p6-9{fill:#C33232}
.p7-9{fill:#B22E2E}
.p8-9{fill:#A52A2A}